/* tablet */
@media only screen and (max-width:1200px) {
    #banner {
        /* padding: 100px 20px; */
        flex-wrap: wrap;
    }
    #banner .mid {
        order: 5;
        margin-top: 20px;
    }
    /* intro */ 
    .intro {
        display: block;
    }
    .intro .left {
        width: 100%;
    }
    .intro .left::after {
        display: none;
    }
    .intro .left > p {
        max-width: 100%;
    }
    .intro .list-item {
        width: 100%;
        margin-top: 20px;
    }
    .banner-intro {
        background-size: contain;
        background-repeat: no-repeat;
    }
    .process {
        padding: 0px 20px;
    }
    .inside,
    .stand-out,
    .saying,
    .brand
     {
        padding: 100px 20px;
    }
    .studies .list-studies {
        flex-wrap: wrap;

    }
    .studies .list-studies .item-studies {
        width: 100%;
       
    }
    .studies .list-studies .item-studies:first-child {
        margin-bottom: 80px;
    }
    .studies .list-studies .item-studies > img {
        width: 100%;
        background-size: cover;
        height: auto;
    }
    /* brand */
    .brand .list-brand .item-brand:last-child {
        display: none;
    }
    /* footer */
    .footer {
        padding-left: 20px;
    }
    .footer .top .left {
        margin-right: 100px;
    }
}
/* mobile */
@media only screen and (max-width:768px) {
    
    #header .logo {
        display: none;

    }
    #header {
        margin: 0;
        padding: 0px 20px;
        justify-content: space-between;
        border: none;
    }
    #header .nav {
        height: auto;
        display: block;
        background-color: #ccc;
        position: absolute;
        top: 39px;
        left: 0;
        z-index: 1;
        padding-left: 10px;
        padding-top: 10px;
        display: none;
    }
    #header .nav .item-nav {
        height: 39px;
        
    }
    
   
    .btn-menu {
        display: block;
        order: -1;
    }
    /* banner */
    #banner {
        /* padding: 100px 20px; */
        flex-wrap: wrap;
    }
    #banner .mid {
        order: 5;
        margin-top: 20px;
        width: 100%;
    }
    #banner .content .mid img {
        width: 100% !important;
       
    }
    #banner .left{
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
    }
    #banner .right {
        width: 100%;
        margin: auto;
    }
    /* intro */
    .intro {
        display: block;
        margin: 0 10px;
        padding:10px;
    }
    .intro .left {
        width: 100%;
    }
    .intro .left::after {
        display: none;
    }
    .intro .left > p {
        max-width: 100%;
    }
    .intro .list-item {
        width: 100%;
        margin-top: 20px;
        flex-wrap: wrap;
    }
    .intro .list-item .item {
        width: 100%;
        display: flex;
        
    }
    .intro .list-item .item > img {
        margin-right: 10px;
    }
    .intro .list-item .item:nth-child(2) {
        margin: 10px 0px;
    }
    /* process */
    .process .top p {
        transform: translateX(-50%);
        width: 100%;
    }
    .process .list-item {
        display: block;
    }
    .process .list-item  .item-process {
        width: 100%;
    }
    .process .list-item  .item-process:nth-child(2) {
        margin: 20px 0px;
    }
    /* inside */
    .inside {
        margin-top: 20px;
        width: 100%;
        
        padding: 10px;
        margin-bottom: 50px;
    }
    .inside .title {
        font-size: 30px;
    }
    .inside .content {
        display: block;
    }
    .inside .content .left {
        width: 80%;
    }
    .inside .content .left img:first-child {
        width: 100%;
    }
    .inside .content .left .img-small {
        left: 300px;
    }
    .inside .content .right {
        padding: 0;
        width: 100%;
    }
    .inside .content .right h3 {
        font-size: 30px;
        max-width: 100%;
    }
    .inside .content .right .btn-bn {
        margin: auto;
    }
    /* stand-out */
    .stand-out {
        height: 100%;
        padding-bottom: 0;
    }
    .stand-out .content {
        display: block;
        height: auto;
    }
    .stand-out .content .left {
        width: 100%;
    }
    .stand-out .content .right {
        width: 100%;
        
    }
    .stand-out .content .right > img  { 
        width: 100%;
    }
    .stand-out .content .right .income {
        top: -20px;
        left: -10px;
        width: 150px;
    }
    /* studies  */
    .studies {
        padding: 0px 20px;
        margin-top: 525px;

    }
    /* saying */
    .saying {
        margin-top: 0px;
    }
    .saying >h2 {
        font-size: 30px;
    }
    .saying .bottom >img {
        width: 100%;

    }
    .saying .bottom .content {
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
        height: auto;
    }
    .saying .bottom .around {
        top: 232px;
        left: 223px;
        background-color: pink;
        
    }
    /* brand */
    .brand {
        margin-top: 0px;
        
    }
    .brand .list-brand {
        display: block;
        
    }
    .brand .list-brand .item-brand {
        margin-right: 0px;
        margin-bottom: 10px;

    }
    /* footer */
    .footer {
        margin-top: 50px;
        padding-right: 20px;
    }
    .footer .top {
        display: block;
    }
    .footer .top .left {
        margin-right: 0px;
        width: 100%;
    }
    .footer .top {
        width: 100%;
        
    }
    .footer .top .menu-footer {
        width: 100%;
        display:block ;
    }
    .footer .top .menu-footer .item-mn-ft:first-child {
        width: 100%;
        margin : 40px 0px;
    }
    .footer .top .menu-footer .item-mn-ft:nth-child(2){
        width: 100%;
        margin-bottom: 40px;
    }
    .footer > img {
        width: 100%;
    }    
 
}