html {
    font-size: 16px;

}
 body {
    background-color: rgba(28, 11, 51, 1);
    ;
}
a {
    text-decoration: none;
}
/* header */
#header {
    
    height: auto;
    padding-top: 40px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    align-items: center;
    margin: 0px 150px;
}

#header .logo {
    display: flex;
    color: #0CC3FF;
}
#header .logo img {
    margin-right: 4px;
    image-rendering:pixelated;
}
#header .logo .title-logo {
    font-family: 'Catamaran', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}
#header .logo .title-logo > span {
    color: rgb(223, 114, 11);
}
#header .nav {
    display: flex;
    list-style: none;
}
#header .nav .item-nav {
    margin-right: 37px;

}
#header .nav .item-nav:first-child a {
    color: #FCC263;
}
#header .nav .item-nav:first-child::after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color:  #FCC263;
}
#header .nav .item-nav a {
    text-transform: capitalize;
    font-family: 'Catamaran', sans-serif;
    color: #FFF7EA;
    font-weight: 400;
font-size: 18px;
line-height: 24px;
}
#header .nav .item-nav:last-child {
    margin-right: 0px;
}
.btn {
    padding: 10px 30px;
    border: 1.4px solid #FFF7EA;
border-radius: 22px;
background-color: #1C0B33;
color: #fff;
text-transform: capitalize;
}

/* banner */
#banner {
    width: 100%;
    padding: 100px 68px;
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    color: #332E27;
}
#banner .left {
    
    background-image: url("../img/Rectangle 18.png");
    width: 281px;
    height: 309px;
    position: relative;
    background-size: contain;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    border-radius: 12px;
}

#banner .text {
    background-color: rgba(255, 157, 7, 1);
    bottom: 0;
    padding: 19px 21px;
    font-weight: 500;
    font-size: 10px;
    line-height: 18px;
    border-radius: 0px 0px 12px 12px;
    width: 100%;
}
#banner .text > .title {
    display: flex;
    align-items: center;
}
#banner .text > .title > span {
    margin-left: 4px;
}
#banner .text p {
    margin: 8px 0px;
}
#banner .text > span {
    text-decoration: underline;
}
#banner .mid {
    margin:0px 60px;
    border: 1px solid green;
    text-align: center;
}
#banner .mid .content {
    width: 80%;
    margin: auto;
}

#banner .mid .content  p {
    margin-bottom: 30px;
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}
#banner .mid .bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner .right {
    position: relative;
    width: 281px;
    height: 309px;
    
    background-image: url("../img/bohemian-man-with-his-arms-crossed 1.png");
    background-size: contain;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    border-radius: 12px;
}
#banner .right > img, #banner .left > img {
    position: absolute;
    top:55px;
    transform: translateX(-50%);
}

