html {
    font-size: 16px;

}
 body {
    background-color: rgba(28, 11, 51, 1);
    ;
}
a {
    text-decoration: none;
}
/* header */
#header {
    
    height: auto;
    padding-top: 40px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    align-items: center;
    margin: 0px 150px;
}

#header .logo {
    display: flex;
    color: #0CC3FF;
}
#header .logo img {
    margin-right: 4px;
    image-rendering:pixelated;
}
#header .logo .title-logo {
    font-family: 'Catamaran', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}
#header .logo .title-logo > span {
    color: rgb(223, 114, 11);
}
#header .nav {
    display: flex;
    list-style: none;
}
#header .nav .item-nav {
    margin-right: 37px;

}
#header .nav .item-nav:first-child a {
    color: #FCC263;
}
#header .nav .item-nav:first-child::after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color:  #FCC263;
}
#header .nav .item-nav a {
    text-transform: capitalize;
    font-family: 'Catamaran', sans-serif;
    color: #FFF7EA;
    font-weight: 400;
font-size: 18px;
line-height: 24px;
}
#header .nav .item-nav:last-child {
    margin-right: 0px;
}
.btn {
    padding: 10px 30px;
    border: 1.4px solid #FFF7EA;
border-radius: 22px;
background-color: #1C0B33;
color: #fff;
text-transform: capitalize;
}
/*  */
.banner-intro {
    background-image: url("../img/shape-group.png");
    padding-bottom: 165px;
    background-size: cover;
    background-origin: padding-box;
}
/* banner */
#banner {
    width: 100%;
    padding: 100px 68px;
    display: flex;
    justify-content: space-between;
    
    color: #332E27;
}
#banner .left {
    background-image: url("../img/Rectangle 18.png");
    width: 281px;
    height: 346px;
    position: relative;
    background-size: contain;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    border-radius: 12px;
    margin-right: 60px;
}

#banner .text {
    background-color: rgba(255, 157, 7, 1);
    bottom: 0;
    padding: 19px 21px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    border-radius: 0px 0px 12px 12px;
    width: 100%;
}
#banner .text > .title {
    display: flex;
    align-items: center;
}
#banner .text > .title > span {
    margin-left: 4px;
}
#banner .text p {
    margin: 8px 0px;
}
#banner .text > span {
    text-decoration: underline;
}
#banner .mid {
    width: 600px;
    
    text-align: center;
}
#banner .mid .content {
    width: 100%;
    margin: auto;
}

#banner .mid .content  p {
    margin-bottom: 30px;
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}
#banner .mid .bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-bn{
    padding: 12px 23px;
    background: #FFAF36;
    border-radius: 8px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    margin-right: 36px;
}
.btn-bn>img {
    margin-left: 4px;
}

#banner .right {
    position: relative;
    width: 281px;
    height: 346px;
    background-image: url("../img/bohemian-man-with-his-arms-crossed 1.png");
    background-size: contain;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    border-radius: 12px;
    margin-left: 60px;
}
#banner .right > img, #banner .left > img {
    position: absolute;
    top:55px;
    transform: translateX(-50%);
}

/* intro */
.intro {
    background-color: #fff;
    margin: 0px 150px;
    padding:46px 35px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.intro .left {
    width: 40%;
}
.intro .left .title >span {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #A89D8D;

}
.intro .left > p {
    max-width: 70%;
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #222B34;
}
.intro .left::after {
    display: block;
    content: "";
    height: 40%;
    width: 1px;
    background-color: #ABBACB;
    position: absolute;
    top: 50%;
    left: 42%;
    transform: translateY(-50%);
}
.intro .list-item {
    width: 55%;
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.intro .list-item .item {
    width: calc((100% - 274px)/3);
}
.intro .list-item .item img {
    display: block;
}
.intro .list-item .item > span {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #212A41;
}

/* end intro */
/* process */
.process {
    padding: 0px 150px;
    text-align: center;
    color: #fff;
    
}
.process .top {
    margin-bottom: 71px;

}
.process .top .title {
    max-width: 345px;
    font-family: 'Merienda';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 54px;
    color: #FFF7EA;
    margin-bottom: 71px;
    margin: auto;
}
.process .top p {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    margin-top: 71px;
    max-width: 573px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.list-item {
    display: flex;
    justify-content: space-between;
}
.list-item .item-process {
    width: calc((100% - 158px)/3);
    background-color: #fff;
    padding: 54px 26px 49px;
    color: #000;
}
.list-item .item-process > h3 {
    margin-top: 20px;
    margin-bottom: 11px;
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 26px;
    text-align: center;
    color: #212A41;   
}
list-item .item-process > p {
    width: 100%;
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    text-align: center;
    
    color: #6E7984;  
}
/* inside */
.inside {
    width: 100%;
    padding: 170px 150px;
}
.inside .title {
    font-family: 'Merienda';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 54px;
    color: #FFF7EA;  
    margin-bottom: 71px; 
    max-width: 443px;
}
.inside .content {
    display: flex;
    justify-content: space-between;
}
.inside .content .left {
    width: 50%;
    
    position: relative;
}
.inside .content .left .img-small {
    position: absolute;
    top:20%;
    left: 418px;
    transform: translateX(-50%);
}
.inside .content .right {
    width: 50%;
  
    color: #fff;
    padding: 20px 90px 15px 0px;
}
.inside .content .right h3 {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    color: #FFF7EA; 
    max-width: 422px;
}
.inside .content .right  p {
    margin: 26px 0px;
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;   
    max-width: 474px;
}

/* income */
.stand-out {
    width: 100%;
    padding: 0px 150px;
    color:#fff;
}
.stand-out .title {
    font-family: 'Merienda';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 54px; 
    text-align: center;
    color: #FFF7EA;
    margin-bottom: 130px; 
}
.stand-out .content {
    display: flex;
}
.stand-out .content .left {
    width: 50%;
   
}
.stand-out .content .left  .item {
    display: flex;
    margin-bottom: 54px ;
}
.stand-out .content .left  .item .text {
    margin-left: 21px;
}
.stand-out .content .left  .item .text h4 {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 15PX;
}
.stand-out .content .left  .item .text p {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;   
}
.stand-out .content .right {
    width: 50%;
    position: relative;
}
.stand-out .content .right img {
    float: right;
}
.stand-out .content .income {
    display: flex;
    position: absolute;
    background-color: #fff;
    top: 20%;
    right: 370px;
    color: #000;
    padding: 17px 24px;
    box-shadow: 12px 12px 28px rgba(33, 42, 65, 0.2);
    border-radius: 8px;
}
.stand-out .content .income img {
    width: 24px; 
    height: 24px;
    margin-right: 13px;
    
}
.stand-out .content .income .price h5 {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #E4394F;
    text-transform: capitalize;
       
}
.stand-out .content .income .price span {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #212A41;  
}